@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div  class="container text-center">
    <img src="~/images/voetbal.png"/>
    <h1>Voetbal E-commerce</h1>
    <div>
        <div>
            <a asp-action="Register" asp-controller="Introduction" class="btn btn-secondary">Registreer</a>
            <a asp-action="Register" asp-controller="Introduction" class="btn btn-secondary">Inloggen</a>
        </div>
    </div>
</div>
